/* this overrides prevous settings */
html {
    width: 210mm;
    /* 高度比A4小1mm，因为页面可能稍微溢出一点，变成两页纸 */
    height: calc(297mm - 1mm);
    /* margin 重设为 0 */
    margin: 0;
    border: none;
    background-color: white;
}

body {
    border: none;
}

/* 隐藏简历以外的东西，简历以外的东西都要加上这个 class */
.no-print {
    display: none;
}
